ul {
   margin: 0;
   padding: 0;
}


body {
   font-family: 'Rosario', 'Volkhov', sans-serif;
   margin: 0;
   background-color: #FFFFFF;
}

.header {
   position: fixed;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   background-color: black;
   z-index: 5;
}

.header-logo {
   background-color: #fff;
}

.header__list {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 2rem 0;
}

li a {
   text-decoration: none;
   color: #FFFCFC;
   font-style: italic;
   font-weight: 700;
   font-size: 2.3em;
   padding: 2.313rem 1.438rem;
}

.main_box {
   display: flex;
   align-items: center;
   padding-top: 12.813rem;
   margin-bottom: 129px;
   width: 100%;
}


.main-box-1 {
   margin-left: 72px;
}


.main-box-1-2-img,
.main-box-1-3-img {
   padding-bottom: 2.625rem;
}

.main-box-1-3-img,
.main-box-2-2-img,
.main-box-1-2-img,
.main-box-2-1-img {
   width: 100%;
}


.main-box-2 {
   margin-right: 72px;
   margin-left: 18px;
}

.main_box-a_side-a {
   margin-left: 46px;
}

.main_box-a_side-b {
   margin-right: 46px;
}

.left {
   animation-duration: 5s;
   animation-name: img_left;
   animation-delay: 1s;
}

@keyframes img_left {
   from {
      transform: translateX(-200%)
   }

   to {
      transform: translateX(0)
   }
}


.right {
   animation-duration: 5s;
   animation-name: img_right;
   animation-delay: 1s;
}

@keyframes img_right {
   from {
      transform: translateX(200%)
   }

   to {
      transform: translateX(0)
   }
}

.up {
   animation-duration: 3s;
   animation-name: up_img_to_center;
   animation-delay: 1s;
}

@keyframes up_img_to_center {
   from {
      transform: translateX(-100%)
   }

   to {
      transform: translateX(0)
   }
}

.down {
   animation-duration: 3s;
   animation-name: down_img_to_center;
   animation-delay: 1s;
}

@keyframes down_img_to_center {
   from {
      transform: translateX(100%)
   }

   to {
      transform: translateX(0)
   }
}

.box_conteiner {
   display: flex;
   justify-content: space-between;
}

.box_3 {
   display: flex;
   margin-left: 69px;
}

.title-1 {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 3em;
   text-align: center;
}

.title-2 {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 3em;
}

.title-3 {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 3em;
   text-align: center;
}

.title-4 {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 3em;
}

.box_3-1,
.box_3-3 {
   padding-right: 120px;
   margin-bottom: 125px;
}

.box_3-1,
.box_3-2,
.box_3-3,
.box_3-4 {
   position: relative;
}

.box_4 {
   padding-bottom: 129px;
}

.pic1 {
   animation-name: pic1;
   animation-duration: 15s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
}

@keyframes pic1 {
   0% {
      left: 0;
      top: 0;
   }

   25% {
      left: 100%;
      top: 0;
   }

   50% {
      left: 100%;
      top: 44.3%;
   }

   75% {
      left: 0;
      top: 44.3%;
   }

   100% {
      left: 0;
      top: 0;
   }
}

.pic2 {
   animation-name: pic2;
   animation-duration: 15s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
}

@keyframes pic2 {
   0% {
      left: 0;
      top: 0;
   }

   25% {
      left: 0;
      top: -44.3%;
   }

   50% {
      left: 100%;
      top: -44.3%;
   }

   75% {
      left: 100%;
      top: 0;
   }

   100% {
      left: 0;
      top: 0;
   }
}

.pic3 {
   animation-name: pic3;
   animation-duration: 15s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
}

@keyframes pic3 {
   0% {
      left: 0;
      top: 0;
   }

   25% {
      left: 0;
      top: 44.3%;
   }

   50% {
      left: -100%;
      top: 44.3%;
   }

   75% {
      left: -100%;
      top: 0;
   }

   100% {
      left: 0;
      top: 0;
   }
}

.pic4 {
   animation-name: pic4;
   animation-duration: 15s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
}

@keyframes pic4 {
   0% {
      left: 0;
      top: 0;
   }

   25% {
      left: -100%;
      top: 0;
   }

   50% {
      left: -100%;
      top: -44.3%;
   }

   75% {
      left: 0;
      top: -44.3%;
   }

   100% {
      left: 0;
      top: 0;
   }
}

.container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 129px;
}


.box_5_title {
   font-weight: 700;
   font-size: 6em;
   text-align: center;
   padding-bottom: 51px;
}

.container_box_1,
.container_box_2,
.container_box_3,
.container_box_4 {
   border-radius: 40px;
   width: 400px;
   height: 677px;
   background-repeat: no-repeat;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   transition: all 0.5s;
}

.container_box_1 {
   background-image: url(../img/Cont_1.png);
   margin-left: 66px;
}

.container_box_2 {
   background-image: url(../img/Cont_2.png);
   width: 19.4%;
}

.container_box_3 {
   background-image: url(../img/Cont_3.png);
}

.container_box_4 {
   background-image: url(../img/Cont_4.png);
   margin-right: 66px;
   width: 19.4%;
}

.container_box_name {
   font-family: 'Volkhov';
   font-weight: 400;
   font-size: 48px;
   color: #FFFAFA;
   height: 155px;
   width: 100%;
   text-align: center;
   visibility: hidden;
   border-radius: 0 0 40px 40px;
}


.container_box_1:hover .container_box_name {
   visibility: visible;
   background: #a3540a70;
}

.container_box_2:hover .container_box_name {
   visibility: visible;
   background: #a3540a70;
}

.container_box_3:hover .container_box_name {
   visibility: visible;
   background: #a3540a70;
}

.container_box_4:hover .container_box_name {
   visibility: visible;
   background: #a3540a70;
}

.section_box_1{
   display: inline-flex;
   margin-bottom: 126px;
}

.text-area-titel {
   font-style: italic;
   font-weight: 700;
   font-size: 64px;
   line-height: 78px;
   text-align: start;
   margin-left: 162px;
   margin-bottom: 17px;
}

.t-a-t-1{
   padding-left: 83px;
}

.t-a-t-2{
   display: block;
   text-align: center;
}

.input {
   width: 936px;
   height: 400px;
   background: #E5E5E5;
   margin-left: 162px;
}

.input-info{
   display: flex;
}

.inp-name{
   width: 377px;
   height: 80px;
   margin-top: 39px;
   margin-left: 29px;
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
}

.inp-email{
   height: 80px;
   width: 461px;
   margin-top: 39px;
   margin-left: 29px;
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
}

.text-comment{
   width: 878px;
   height: 209px;
   margin-top: 45px;
   margin-left: 29px;
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
}

.map{
   margin-left: 34px;
}

.iframe{
   width: 686px;
   height: 570px;
}

.footer{
   display: flex;
   margin-bottom: 50px;
   justify-content: space-evenly;
}

.footer-info-1{
   font-weight: 700;
   font-size: 30px;
   font-style: italic;
   line-height: 36px;
   color: #000000;
   text-align: center;
}

.footer-info-2{
   font-weight: 700;
   font-size: 30px;
   font-style: italic;
   line-height: 44px;
   color: #000000;
   text-align: center;
}

.footer-info-2-title{
   padding-bottom: 18px;
}

.footer-info-3{
   font-weight: 700;
   font-size: 30px;
   font-style: italic;
   line-height: 36px;
   color: #000000;
   text-align: center;
}

a{
   text-decoration: none;
   color: #000000;
}

.inst{
   padding-right: 24px;
   box-sizing: border-box;
   margin-left: 15px;
}

.fb{
   padding-right: 13px;
   box-sizing: border-box;
}

.twit{
   padding-right: 12px;
   box-sizing: border-box;
   margin-left: -31px;
}





*/ {
   outline: 1px solid rebeccapurple;
}

/*