body{
   background-color: #E5E5E5;
}
.header-box{
   width: 1024px;
   height: 3452px;
   background-color: #FFFFFF;
   margin: 0 auto;
}
.header{
   text-align: left;
   margin-left: 15px;
}
.header-text{
   padding-top: 25px;
}
.header-img{
   width: 996px;
   margin: 0 15px;
}
.header-text-1{
   margin-left: 15px;
}
.header-2{
   text-align: left;
   margin-left: 15px;
}
.header-text-2{
   padding-top: 25px;
   text-align: center;
}
.header-img-2{
   width: 996px;
   margin: 0 15px;
}
.header-3{
   text-align: center;
   margin-left: 15px;
}
.header-text-3{
   padding-top: 25px;
   text-align: right;
   margin-right: 129px;
}
.header-img-3{
   margin: 0 15px;
   text-align: center;
}
.header-text-3{
   margin-left: 242px;
}

.header-4{
   text-align: center;
   margin-left: 15px;
}
.header-text-4{
   padding-top: 25px;
   text-align: left;
   margin-left: 114px;
}
.header-img-4{
   margin: 0 15px;
   text-align: center;
}
.header-text-5{
   margin: 0 15px;
   padding-top: 28px;
}
.header-img-5{
   margin: 0 15px;
}
.header-text-5{
   margin: 0 15px;
   padding-top: 12px;
}
.header-6{
   margin: 0 15px;
   padding-top: 10px;
}
.header-7{
   margin: 0 15px;
}
.header-img-7{
   margin: 0 15px;
}