body {
   min-width: 1440px;
   font-family: 'Poppins', 'Inter', 'Roboto', 'Work Sans';
   background-color: #212529;
}

body,
ul {
   margin: 0;
   padding: 0;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 25px 48px;
}

.header_list-navigation {
   list-style-type: none;
   display: flex;
}

.header_list-text {

   box-sizing: border-box;
   font-size: 18px;
   font-weight: 600;
}

li.header_list-text>a {
   text-decoration: none;
   color: #FFFFFF;
   text-transform: capitalize;
   box-sizing: border-box;
   padding: 25px 12.5px;
   transition: all .4s;
}

li.header_list-text>a:hover {
   color: #FFB742
}

.header_button {
   text-align: center;
   box-sizing: border-box;
   font-size: 18px;
   font-weight: 700;
   padding-top: 12px;
   width: 121px;
   height: 54px;
   border-radius: 50px/50px;
   border: 2px solid #FFB742;
   background-color: #FFB742;
}

.header_button>a {
   text-decoration: none;
   color: #212529;
}

.content {
   text-align: center;
   margin-top: 125px;
}

.content_h1 {
   font-family: 'Inter';
   font-weight: 700;
   font-size: 32px;
   color: #FFFFFF;
}

.content_h2 {
   font-family: 'Inter';
   font-weight: 700;
   font-size: 48px;
   color: #FFFFFF;
   padding-top: 20px;
}

.content_h3 {
   font-family: 'Inter';
   font-weight: 400;
   font-size: 24px;
   color: #FFFFFF;
   padding-top: 30px;
}

.span {
   color: #FFB742;
   text-decoration: underline;
}

.avatar {
   padding-top: 22px;
}

.box_conteiner {
   display: flex;
   margin-top: 137px;
   box-sizing: border-box;
   justify-content: center;
   
}

.box_conteiner> .box-1:hover{   
   background-color: #FFB742;
   transition: all .5s;
}
.box-1:hover .box-text>div{
   color: #000000;
}

.box-1:hover .box-text>span{
   color: #000000;
}

.box-1:hover svg>path{
   fill: black;
}

.box-1 {
   width: 416px;
   height: 120px;
   background-color: #292B2E;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.box-2 {
   width: 416px;
   height: 120px;
   background-color: #292B2E;
   border-radius: 10px;
   margin: 0 24px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.box_conteiner> .box-2:hover{   
   background-color: #FFB742;
   transition: all .4s;
}

.box-2:hover .box-text>div{
   color: #000000;
}

.box-2:hover .box-text>span{
   color: #000000;
}

.box-2:hover svg>path{
   fill: black;
}

.box-3 {
   width: 416px;
   height: 120px;
   background-color: #292B2E;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.box_conteiner> .box-3:hover{   
   background-color: #FFB742;
   transition: all .4s;
}

.box-3:hover .box-text>div{
   color: #000000;
}

.box-3:hover .box-text>span{
   color: #000000;
}

.box-3:hover svg>path{
   fill: black;
}

.five {
   font-family: 'Inter';
   font-weight: 700;
   font-size: 32px;
   text-transform: capitalize;
   color: #FFB742;
}

.five-text {
   font-family: 'Inter';
   font-size: 16px;
   font-weight: 600;
   color: #FFFFFF;
}

.box-text{
   width: 39%;
   text-align: center;
}

.box-text:hover{
   color: #000;
}

.sto {
   font-family: 'Inter';
   font-weight: 700;
   font-size: 32px;
   text-transform: capitalize;
   color: #FFB742;
   padding-left: 12px;
}

.about_me {
   display: flex;
   justify-content: space-evenly;
}

.about_me-img {
   margin: 137px 49px 0;
}

.about_me-h1 {
   width: 148px;
   height: 42px;
   background-color: #292B2E;
   border-radius: 50px;
   text-align: center;
   margin-top: 222px;
}

.about_me-h1-text {
   font-family: 'Poppins';
   font-weight: 600;
   font-size: 20px;
   color: #FFB742;
   padding: 6px;
}

.about_me-h2-text {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 48px;
   color: #FFFFFF;
}

.about_me-h3-text {
   font-family: 'Poppins';
   font-weight: 400;
   font-size: 16px;
   color: #D5D5D5;
   margin-top: 30px;
   margin-right: 104px;
}

.about_me_button {
   width: 121px;
   height: 54px;
   border-radius: 50px/50px;
   border: 2px solid #FFB742;
   background-color: #FFB742;
   margin-top: 55px;
}

.about_me_button-title {
   text-align: center;
   padding-top: 12px;
   box-sizing: border-box;
   font-size: 18px;
   font-weight: 700;
}

.about_me_button-title a {
   text-decoration: none;
   color: #212529;
}

.my_works {
   margin-top: 71px;
}

.my_works-h1 {
   width: 148px;
   height: 42px;
   background-color: #292B2E;
   border-radius: 50px;
   text-align: center;
   margin: 0 auto;
}

.my_works-h1-text {
   font-family: 'Poppins';
   font-weight: 600;
   font-size: 20px;
   color: #FFB742;
   padding: 6px;
}

.my_works-h2 {
   text-align: center;
}

.my_works-h2-text {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 48px;
   color: #FFFFFF;
}

.conteiner_list-navigation {
   list-style-type: none;
   display: flex;
   justify-content: center;

}


.conteiner_list-navigation a {
   text-decoration: none;
   color: #FFFFFF;
   transition: all .4s;
}

.conteiner_list_title {
   padding: 0 50px;
   margin-top: 35px;
}

.conteiner_list_title a{
   box-sizing: border-box;
   padding: 25px 0;
}

.conteiner_list_title>a:hover {
   color: #FFB742;
}

.cards {
   margin-top: 55px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.card {
   padding: 0 32px;
   padding-bottom: 32px;
}

.footer {
   height: 470px;
   background-color: #1C1C1C;
   margin-top: 117px;
   display: flex;
   justify-content: space-evenly;
}

.footer_navigation{
   margin-top: -14px;
}

.footer_navigation_list {
   list-style-type: none;
   margin-top: 100px;
}

.list{
   padding: 10px 0px;
}

.list-t {
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 32px;
   color: #FFB742;
}

.list-t-1 {
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #D4D4D4;

}

.list-t-2 {
   font-family: 'Work Sans';
   font-weight: 700;
   font-size: 21.6px;
   color: #F5FBF2;
}

.footer_navigation_list a {
   font-family: 'Work Sans';
   font-weight: 500;
   font-size: 17.9px;
   text-decoration: none;
   color: #7B7B7B;
   transition: all .4s;
}

li.list> a:hover{
   color: #FFB742;
}




/* {
   outline: 1px solid rebeccapurple;
}*/