body {
   max-width: 100%;
   min-width: 1476px;
}

.row {
   display: flex;
   justify-content: space-evenly;
}

.column_one {
   width: 512px;
   height: 512px;
   background-color: rgba(255, 255, 0, 0.872);
}

.column_two {
   width: 512px;
   height: 512px;
   background-color: #C4C4C4;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.rect {
   width: 512px;
   height: 271.5px;
   background-color: #2137FC;
   text-align: center;
   box-sizing: border-box;
}

.wave {
   padding-top: 159px;
}

.circle {
   width: 450px;
   height: 450px;
   background-color: rgba(255, 255, 0, 0.872);
   border-radius: 411px 411px 411px 411px;
}

.circle_rect {
   width: 450px;
   height: 240.5px;
   background-color: #2137FC;
   border-radius: 411px 411px 0 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   box-sizing: border-box;
   padding-top: 215px;
}

.wave-2 {
   width: 356px;
   padding-left: 48px;
}

.row-2 {
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.row-3 {
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.row-3-rect {
   width: 512px;
   height: 271.5px;
   background-color: #2137FC;
   box-sizing: border-box;
   padding-top: 60px;
}

.hexagon {
   width: 341.58px;
   height: 393px;
   clip-path: polygon(50% 0, 100% 25%, 100% 80%, 50% 100%, 0 80%, 0 25%);
   background-color: #221F20;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.hexagon-2 {
   width: 271.79px;
   height: 315.87px;
   clip-path: polygon(50% 0, 100% 25%, 100% 80%, 50% 100%, 0 80%, 0 25%);
   background-color: #FEFEFE;
   padding: 14px;
}

.birds {
   padding-top: 134px;
   padding-left: 22px;
}

.circle_rect_hexagon {
   width: 341.58px;
   height: 393px;
   clip-path: polygon(50% 14%, 84% 30%, 84% 75%, 50% 88%, 17% 73%, 17% 30%);
   background-color: #221F20;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.circle_hexagon {
   width: 271.79px;
   height: 315.87px;
   clip-path: polygon(50% 14%, 84% 30%, 84% 75%, 50% 88%, 17% 73%, 17% 30%);
   background-color: #FEFEFE;
   padding: 14px;
}

.circle_hexagon_birds {
   padding-top: 149px;
   padding-left: 56px;
}

.row-4 {
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.row-4-rect{
   width: 512px;
   height: 271.5px;
   background-color: #2137FC;
   box-sizing: border-box;
   padding-left: 173px;
   padding-top: 126px;
}

.tringle{
   width: 338.99px;
   height: 385.93px;
   clip-path: polygon(50% 0, 100% 90%, 60% 79%, 50% 100%, 40% 79%, 0 90%);
   background-color: #E8F0FC
}

.rhombus{
   width: 33.44px;
   height: 385.93px;
   background-color: rgba(0, 0, 255, 0.167);
   clip-path: polygon(50% 0%, 61% 84%, 50% 100%, 39% 84%);
   padding-left: 306px;
}

.row-4-circle_rect{
   width: 450px;
   height: 240.5px;
   background-color: #2137FC;
   border-radius: 411px 411px 0 0;
   padding-top: 63px;
   padding-left: 85px;
   box-sizing: border-box;
}

.row-4-tringle{
   width: 280.99px;
   height: 349.93px;
   clip-path: polygon(50% 0, 100% 90%, 60% 79%, 50% 100%, 40% 79%, 0 90%);
   background-color: #E8F0FC
}

.row-4-rhombus{
   width: 14.44px;
   height: 349.93px;
   background-color: rgba(0, 0, 255, 0.167);
   clip-path: polygon(50% 0%, 61% 84%, 50% 100%, 39% 84%);
   padding-left: 267px;
}

.row-5{
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.row-5-rect{
   width: 512px;
   height: 271.5px;
   background-color: #2137FC;
   box-sizing: border-box;
   text-align: center;
   padding-top: 172px;
}

.row-5-circle_rect{
   width: 450px;
   height: 240.5px;
   background-color: #2137FC;
   border-radius: 411px 411px 0 0;
   padding-top: 141px;
   box-sizing: border-box;
   text-align: center;
}

.row-6-column_one{
   width: 512px;
   height: 512px;
   background-color: black;
}

.row-6-column_two{
   width: 512px;
   height: 512px;
   background-color: black;
}

.row-6{
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.row-6-rect{
   width: 512px;
   height: 271.5px;
   background-color: black;
   box-sizing: border-box;
   text-align: center;
   padding-top: 172px;
}

.row-6-rect-column_two{
   width: 512px;
   height: 271.5px;
   background-color: black;
   box-sizing: border-box;
   text-align: center;
   padding-top: 87px;
}

.flag{
   display: flex;
   justify-content: space-evenly;
   box-sizing: border-box;
   padding-top: 106px;
}

.flag_img{
   box-sizing: border-box;
   padding: 10px;
}

.row-7{
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.row-7-column_one{
   width: 512px;
   height: 512px;
   background-color: black;
}

.row-7-rect-column_one{
   width: 512px;
   height: 271.5px;
   background-color: black;
   box-sizing: border-box;
   text-align: center;
   padding-top: 87px;
}

.row-7-flag-box{
   display: flex;
   justify-content: space-between;
}
