body {
   font-family: 'Public Sans';
   background-color: #E5E5E5;
   min-width: 900px;
   max-width: 866px;
   padding-left: 48px;
   padding-bottom: 110px;
   margin: 0 auto;
   cursor: pointer;
   box-sizing: border-box;
   border: 1px solid #000000;
}

.h1 {
   font-size: 1.5em;
   font-weight: 700;
   padding-top: 64px;
}

.h2 {
   font-size: 0.875em;
   font-weight: 400;
   padding-top: 79px;
}

.star {
   color: red;
}

.h3 {
   font-size: 1.25em;
   font-weight: 700;
   padding-top: 24px;
}

.main,
.section-box {
   display: flex;
   align-items: baseline;
}

.main-box-1 {
   padding-top: 32px;
}

.main-box-1-lable,
.main-box-2-lable {
   display: block;
   font-size: 1em;
   font-weight: 500;
   padding-bottom: 8px;
   padding-top: 20px;
}

.main-box-1-form .main-box-2-form {
   padding-top: 8px;
}

#type {
   width: 392px;
   padding: 10px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   font-size: 1em;
   font-weight: 400;
}

#phone,
#email,
#search {
   width: 392px;
   padding: 11px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   font-size: 1em;
   font-weight: 400;
   box-sizing: border-box;
}

.main-box-1-phone,
.main-box-1-email,
.main-box-1-date,
.main-box-2-date,
.section-box-1-search,
.section-box-2-search {
   display: block;
   padding-top: 22px;
   font-size: 1em;
   font-weight: 500;
   padding-bottom: 8px;
}

.main-box-1-rem_dbr {
   width: 392px;
   padding: 9.2px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   background-color: #ffffff;
   box-sizing: border-box;
}

.span {
   display: block;
   font-weight: 500;
   font-size: 1em;
   padding-top: 21px;
   padding-bottom: 8px;
}

.main-box-1-app_reg {
   width: 392px;
   font-weight: 400;
   font-size: 1em;
   color: #0050D8;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   padding-left: 10px;
   padding-right: 3px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   background-color: #ffffff;
   box-sizing: border-box;
}

#date {
   width: 392px;
   padding: 10px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   font-size: 1.3em;
   font-weight: 400;
   box-sizing: border-box;
}

.main-box-1-checkbox {
   padding-top: 21px;
   font-size: 1em;
   font-weight: 400;
}

#checkbox,
#check_box {
   transform: scale(1.3);
   opacity: 0.9;
   cursor: pointer;
}

.line{
   border-bottom: 2px solid #D1D1D1;
   padding-top: 27px;
   margin-right: 36px;
   box-sizing: border-box;
}

.main-box-2 {
   padding-left: 32px;
}

.main-box-2-checkbox {
   padding-top: 136px;
   font-size: 1em;
   font-weight: 400;
}

.main-box-2-lable_exempt {
   display: block;
   font-size: 1em;
   font-weight: 500;
   padding-bottom: 8px;
   padding-top: 46px;
}

.main-box-2-lable_enrollment,
.section-box-2-lable_other {
   display: block;
   font-size: 1em;
   font-weight: 500;
   padding-bottom: 8px;
   padding-top: 25px;
}

.h4 {
   font-weight: 700;
   font-size: 1.25em;
   padding-top: 32px;
}

.section-box-1-checkbox {
   padding-top: 59px;
}

#check_b {
   position: absolute;
   top: 1095px;
   transform: scale(2);
   opacity: 0.9;
   cursor: pointer;
}

.checkbox-text {
   font-weight: 500;
   font-size: 1em;
   margin: 0;
   padding-left: 25px;
}

pre.section-box-1-pre {
   font-weight: 500;
   font-size: 1em;
   margin: 0;
   padding-left: 25px;
   font-family: 'Public Sans';
   box-sizing: border-box;
}


.section-box-2 {
   padding-left: 43px;
}

.section-box-1-off_use-1,
.section-box-2-indicator {
   width: 392px;
   font-weight: 400;
   font-size: 1em;
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   padding-left: 10px;
   padding-right: 3px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   background-color: #ffffff;
   box-sizing: border-box;
}

.section-box-2-2 {
   padding-left: 32px;
}

.section-box-2-sys{
   padding-left: 32px;
}

.section-box-1-off_use,
.section-box-2-indicator-2 {
   width: 392px;
   font-weight: 400;
   font-size: 1em;
   color: #747474;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   padding-left: 10px;
   padding-right: 3px;
   border: 1px solid #ADADAD;
   border-radius: 4px;
   background-color: #ffffff;
   box-sizing: border-box;
}

#search{
   background-image: url(../img/lupa.svg);
   background-repeat: no-repeat;
   position: relative;
   display: inline-block;
   background-position: right;
}

.btn{ 
   width: 69px;
   height: 40px;
   margin-left: 748px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #0050D8;
   border-radius: 4px;
}

.btn a{
   text-decoration: none;
   color: #ffffff;
   font-weight: 700;
   font-size: 1em;
}

.line-btn{
   border-bottom: 2px solid #D1D1D1;
   padding-top: 27px;
   box-sizing: border-box;
   margin-bottom: 25px;
   margin-right: 36px;
}




   