body {
   font-family: 'PT Sans', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #E5E5E5;
}

.header {
   height: 90px;
   background-color: #202846;
   display: flex;
   align-items: center;
}

.logo{
   padding-left: 8%;
   padding-right: 5%;
   box-sizing: border-box;
}

.header_navigation_list {
   list-style: none;
   margin: 0;
   display: flex;
   align-items: center;
}

.header_navigation_list a {
   display: block;
    width: 100%;
    height: 70%;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;

}

.list_style {
   display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 3px;
}

.list_style a{
   padding: 25px 0;
}

.line {
   padding: 15px;
   box-sizing: border-box;
}


.text {
   height: 140px;
   font-size: 3em;
   font-weight: 400;
   font-style: italic;
   color: #202846;
   background-color: #C6C6DC;
   padding-left: 13%;
   text-align: start;
   box-sizing: border-box;
   padding-top: 2.5%;
}

.main{
   width: 1489px;
   margin: 185px auto;
   box-sizing: border-box;
}

.card {
   width: 97.8%;
   height: 300px;
   background-color: #BDBDC6;
   box-sizing: border-box;
}

.card-content {
   position: relative;
   padding-left: 631px;
   bottom: 258px;
   box-sizing: border-box;
}

.card_img {
   width: 100%;
   padding-top: 28px;
   padding-left: 103px;
   box-sizing: border-box;
}

.card_title {
   width: 88%;
   font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    font-style: italic;
    color: #353C57;
    border-bottom: 3px solid #FFF;
    margin: 0 0 10px 0;
    height: 40px;

}

.card-box {
   width: 712px;
   height: 145px;
   background-color: #D7D7DD;
   padding: 21px;
   display: flex;
   align-items: center;
}

.card-box-text {
   height: 184px;
   background-color: #D7D7DD;
   font-family: 'PT Sans', sans-serif;
   font-weight: 400;
   font-size: 1.375em;
   color: #202846;
   box-sizing: border-box;
   padding: 20px;
   text-align: center;
   align-items: center;

}

.star {
   position: absolute;
    left: 1380px;
    bottom: 174px;
    padding: 15px;
}

.card-button {
    width: 13%;
    height: 60px;
    border-radius: 30px;
    background-color: #202846;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #FFF;
    position: absolute;
    bottom: -27px;
    right: -47px;

}

.card:hover .star>svg>path {
   fill: yellow;
}

.card-2 {
   width: 97.8%;
   height: 300px;
   background-color: #BDBDC6;
   margin-top: 90px;
   box-sizing: border-box;
}

.card-2:hover .star>svg>path {
   fill: yellow;
}

.card-3 {
   width: 97.8%;
   height: 300px;
   background-color: #BDBDC6;
   margin-top: 90px;
   box-sizing: border-box;
}

.card-3:hover .star>svg>path {
   fill: yellow;
}

.card-button a {
   text-decoration: none;
   color: #FFFFFF;
}

.card-4 {
   width: 97.8%;
   height: 300px;
   background-color: #BDBDC6;
   margin-top: 90px;
   box-sizing: border-box;
}

.card-4:hover .star>svg>path {
   fill: yellow;
}

.footer {
   height: 90px;
    background-color: #202846;
    display: flex;
    align-items: center;
    padding-left: 120px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.25em;
    font-style: italic;
    color: #EEECF1;

}

.component{
   position: fixed;
   bottom: 60px;
   right: 40px;
}

.component:hover{
   transform: scale(0.9);
}


