body {
   font-family: 'Inika', serif;
   font-weight: 700;
   max-width: 365px;
   min-width: 1340px;
}

.h1 {
   margin: 72px 0;
   font-size: 40px;
   font-weight: 700;
}

.line {
   width: 402px;
   border-bottom: 5px solid #3E45E8;
   margin-top: 21px;
}

.header {
   max-height: 110px;
   min-height: 50px;
   font-family: 'M PLUS 1';
   font-size: 48px;
   font-weight: 400;
   text-align: center;
   padding-top: 21px;
   padding-bottom: 31px;
   box-sizing: border-box;
}

.header_span_yellow {
   color: hsla(60, 100%, 50%, 0.868);
}

.header_span_blue {
   color: blue;
}

.banner {
   background-image: url("../img/image.png");
   background-repeat: no-repeat;
   background-size: 100%;
   height: 803px;
   padding-top: 206px;
   padding-left: 80px;
   box-sizing: border-box;
}

.text_block {
   height: 439px;
   width: 82%;
   background-image: url("../img/flag.png");
   background-repeat: no-repeat;
   font-family: 'Inika';
   font-size: 48px;
   color: white;
   font-weight: 700;
   padding-left: 36px;
   box-sizing: border-box;
   padding-top: 1%;
}

.main {
   padding: 0 80px;
}

.card {
   display: inline-block;
   width: 30%;
   color: #1E8DF2;
   vertical-align: top;
   border-radius: 30px 30px 10px 10px;
   box-shadow: 0 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card__image {
   width: 100%;
}

.card__title {
   font-size: 24px;
   padding: 10px;
   box-sizing: border-box;
}

.card__icon {
   position: absolute;
   top: 1430px;
}

.icon {
   box-sizing: border-box;
   padding-left: 242px;
}

.card__subtitle-one {
   font-size: 20px;
   font-weight: 400;
   color: #E8C23E;
   padding: 0 10px;
   box-sizing: border-box;
}

.card__subtitle {
   font-size: 20px;
   font-weight: 400;
   color: #E8C23E;
   padding: 0 10px;
   box-sizing: border-box;
}

.card__subtitle-two {
   font-size: 20px;
   font-weight: 400;
   color: #E8C23E;
   padding-bottom: 89px;
}

.card__margine {
   margin: 0 4.3%;
}

.card__subtitle-sub {
   font-size: 20px;
   font-weight: 400;
   color: #E8C23E;
   padding: 10px;
   box-sizing: border-box;
   padding-bottom: 56px;
}

.h2 {
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   padding-top: 74px;
   box-sizing: border-box;
}

.line__h2 {
   width: 402px;
   border-bottom: 5px solid #3E45E8;
   margin-left: 513px;
   margin-top: 21px;
}

.map {
   margin-left: 294px;
   margin-top: 41px;
}

.rect {
   width: 591px;
   height: 121px;
   background-color: #2A61F0;
   margin-top: 41px;
   margin-left: 418px;
}

.rect__title {
   font-size: 64px;
   text-align: center;
   line-height: 157.3%;
   padding: 10px;
}

.rect__title a {
   text-decoration: none;
   color: #FFFFFF;
   padding: 10px 100px;
}

.footer {
   width: 100%;
   max-height: 320px;
   background-color: #2F4A4B;
   margin-top: 31px;
}

.h3 {
   font-family: 'M PLUS 1';
   font-size: 48px;
   font-weight: 400;
   line-height: 70px;
   letter-spacing: 0.1em;
   text-align: center;
   box-sizing: border-box;
}

.h3_span_blue {
   color: #3E45E8;
}

.h3_span_yellow {
   color: hsla(60, 100%, 50%, 0.868);
}

.mail {
   font-family: 'Marcellus SC';
   font-weight: 400;
   font-size: 36px;
   line-height: 45px;
   letter-spacing: 0.1em;
   text-align: center;
   margin-top: 31px;
}

.mail a {
   color: #A89D9D;
   text-decoration: none;
}

.phone {
   font-family: 'Marcellus SC';
   font-weight: 400;
   font-size: 36px;
   line-height: 45px;
   letter-spacing: 0.1em;
   text-align: center;
   margin-top: 21px;
}

.phone a {
   color: #A89D9D;
   text-decoration: none;
}

.figure {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 21px;
   padding-bottom: 27px;
   box-sizing: border-box;
}

.twit {
   padding: 0 10px;
}

.telegram {
   padding: 0 10px;
}

.fb {
   padding: 0 10px;
}

.insta {
   padding: 0 10px;
}